.link {text-decoration: none;}
.list {list-style: none;}
.address {font-style: normal;}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

:root {
    --text-color: #212121;
    --secondary-text-color: #757575;
    --accept-color: #2196F3;
}

/* HEADER*/

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:  #2196F3;
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.navigation-link:hover, .navigation-link:focus {
    color: var(--accept-color);
}
.email-link, .tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.email-link:hover, .email-link:focus, 
.tel-link:hover, .tel-link:focus {
    color: var(--accept-color);
}